<%- include("partials/header") %>
<%- include("partials/bar") %>

<h3 class="h3">The book with ISBN 10 number : <%= search %> is not found.</h3>
<% var n=1 %> 
<table class="table table-striped table-hover table-bordered table-sm">
    <tr>
        <th class="sn">S.N</th>
        <th>Title</th>
        <th>ISBN 10</th>
        <th>Author</th>
    </tr>
    <tr>
        <td class="sn"><%= n %><% n++ %></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>   

</table>

<%- include("partials/footer") %> 