<%- include("partials/header") %>
<% var n=1 %> 
<table>
    <tr>
        <th class="sn">S.N</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Author</th>
    </tr>
    <tr>
        <td class="sn"><%= n %><% n++ %></td>
        <td><%= newBookItem.title %></td>
        <td><%= newBookItem.isbn %> </td>
        <td><%= newBookItem.author %> </td>
    </tr>   

</table>
<%- include("partials/footer") %> 
